button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 269px;
  height: 55px;
  box-sizing: border-box;
  padding: 22px 46px;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
