@import '../../styles/variables.scss';

.container {
  padding: 0 98px;
  padding-top: 78px;

  .review-about {
    @extend .flex-row;
    justify-content: space-between;
    align-items: center;
  }

  .reviews-title {
    font-family: $font-family-main;
    font-size: 26px;
    font-weight: 500;

    span {
      font-family: $font-family-main;
      font-size: 15px;
      font-weight: 300;
      color: $black-40;
    }
  }
}

.pagination {
  @extend .flex-row;

  span {
    margin-right: 30px;
    font-size: 16px;
    font-family: $font-family-main;
    font-weight: 400;
    color: $black-80;
  }

  div {
    @extend .flex-row;
    gap: 10px;
  }
}

.reviews {
  @extend .flex-row;
  @extend .list-reset;
  gap: 30px;
}

.plus {
  width: 80px;
  height: 80px;
}
