@import '../../styles/variables.scss';

.review-item {
  width: 270px;
  height: 250px;
  border-radius: 10px;
  padding: 28px 35px;
  box-sizing: border-box;
  border: 1px solid $black-100;

  &.review-item-plus {
    @extend .review-item;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.text {
  p {
    font-family: $font-family-main;
    font-size: 16px;
    font-weight: 400;
    color: $black-40;
  }
}

.review-auth {
  @extend .flex-row;
  gap: 20px;

  div {
    @extend .flex-column;
  }

  h2 {
    margin: 0;
    font-family: $font-family-main;
    font-size: 16px;
    font-weight: 500;
    color: $black-100;
  }
}

.stars {
  @extend .flex-row;
  @extend .list-reset;
  align-items: center;
  gap: 2px;

  li svg {
    width: 8px;
    height: 8px;
  }
}
