@import '../../styles/variables.scss';

.description {
  @extend .flex-column;
  position: relative;

  p {
    margin: 0;
    color: $black-60;
    font-size: 14px;
    font-family: $font-family-main;
    font-weight: 400;
    text-transform: uppercase;
  }

  .price {
    margin: 0;
    margin-top: 18px;
    margin-bottom: 18px;
    color: $green;
    font-size: 26px;
    font-family: $font-family-main;
    font-weight: 600;
    //text-transform: uppercase;
  }

  ul {
    @extend .flex-row;
    @extend .list-reset;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 21px;
  }
}

.title {
  margin: 0;
  margin-bottom: 5px;
  color: $black-80;
  font-size: 24px;
  font-weight: 500;
  font-family: $font-family-main;
  text-transform: uppercase;
}

.arrow-up {
  margin-left: 3px;
  width: 24px;
  height: 24px;
}

.order-part {
  @extend .flex-row;
  gap: 20px;
  align-items: center;
  margin-top: 50px;
  border-top: 1px solid $grey-00;
}

.button-container {
  @extend .flex-row;
  gap: 30px;
  padding-top: 17px;
}
