@import '../../styles/variables.scss';

.main-container {
  padding: 0 98px;
  padding-top: 20px;
}

.filter-items {
  font-family: $font-family-main;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.light {
  color: $black-40;
}

.dark {
  color: $black-60;
}

.item-description {
  display: flex;
  gap: 33px;
}
