@import '../../styles/variables.scss';

.favs-container {
  padding: 0 98px;
  padding-top: 78px;
  padding-bottom: 74px;

  h1 {
    margin: 0;
    margin-bottom: 19px;
    font-size: 26px;
    font-family: $font-family-main;
    font-weight: 500;
    // text-transform: uppercase;
  }
}

.favs-list {
  @extend .flex-row;
  @extend .list-reset;
  gap: 30px;
}

.arrow-down {
  @extend .flex-column;
  align-items: center;
  justify-content: center;
  gap: 5px;

  img {
    width: 24px;
    height: 24px;
  }

  p {
    margin: 0;
    margin-top: 60px;
    font-family: $font-family-main;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: $black-60;
  }
}
