.fav-item {
  width: 370px;
  position: relative;

  img {
    width: 370px;
    height: 433px;
    margin-bottom: 12px;
  }

  h3 {
    margin: 0;
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    //text-transform: uppercase;
  }

  h4 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    //text-transform: uppercase;
  }

  h5 {
    margin: 0;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    //text-transform: uppercase;
    color: #4aaa4e;
  }

  .fav-heart {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 100px;

    img {
      width: 26.9px;
      height: 24px;
      margin: 0;
    }
  }
}
