.favs-container {
  padding: 0 98px;
  padding-top: 78px;
  padding-bottom: 74px;

  h1 {
    margin: 0;
    margin-bottom: 19px;
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    // text-transform: uppercase;
  }
}

.favs-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.arrow-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;

  img {
    width: 24px;
    height: 24px;
  }

  p {
    margin: 0;
    margin-top: 60px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #626262;
  }
}
