header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
}

.authentication {
  padding-right: 98px;
  padding-left: 98px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #343434;
  box-sizing: content-box;
}

a,
span {
  color: #d9d9d9;
  text-decoration: none;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

.help-section ul {
  display: flex;
  flex-direction: row;
  gap: 23px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.auth ul {
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 65px;
  padding: 0 98px;
  box-sizing: border-box;
}

.logo a {
  margin-right: 130px;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 58px;
  letter-spacing: -2px;
  color: #343434;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-items {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 180px;
  //width: 428px;

  li a {
    font-size: 14px;
    color: #343434;
    text-transform: uppercase;
    font-weight: 400;
  }
}

.extra-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 370px;
  height: 40px;

  input {
    display: flex;
    align-items: center;
    width: 284px;
    height: 40px;
    margin-right: 20px;
    box-sizing: border-box;
    background-color: #e8e8e8;
    border: none;
    border-radius: 15px;
    //padding: 9px;
  }
}

.search-icon {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 24px;
  height: 24px;
  stroke-width: 0;
  color: #343434;
}

// .icons {
//   display: flex;
//   flex-direction: row;
//   gap: 20px;
//   list-style: none;
//   margin: 0;
//   padding: 0;
// }

// .icon {
//   //display: inline-block;
//   width: 24px;
//   height: 24px;
//   stroke-width: 0;
//   color: #343434;
// }
